* {
  box-sizing: border-box;
}

body {
  background-color: #54191b;
  color: #d1a42f;
  font-family: 'Tiro Gurmukhi', serif;
}

.header {
  height: 300px;
  width: auto;
  background: url("./img/theme.jpeg") no-repeat center;
  background-size: 300px;
  margin: auto;
}

img {
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
}

#navbar-logo {
	float: left;
  padding-top: 15px;
  margin-left: 40px;
	cursor: pointer;
}

#navbar-logo img{
  height: 50px;
  object-fit: cover;
}

nav a {
  float: left;
  display: block;
  color: #d1a42f;
  /* font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif; */
  font-family: 'Merriweather', serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #000000;
  text-decoration: none;
  padding: 0px 6px;
}

.navbar a.hamburger-icon {
  display: none;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
	padding: 10px;
  text-align: center;
}

footer a {
  color: #d1a42f;
  padding: 10px 20px;
}

#text-box {
  border: 1px solid #d1a42f;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  width: 45%;
  margin-bottom: 5px;
}

#search-button{
  border: 1px solid #d1a42f;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  color: -internal-light-dark(black, white);
  width: 10%;
  background: #d1a42f;
  cursor: pointer;
}

.add-button {
  border: 1px solid #d1a42f;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  color: -internal-light-dark(black, white);
  width: 20%;
  background: #d1a42f;
  cursor: pointer;
}

label {
  font-size: 18px;
  display: block;
}

textarea {
  width: 70%;
  height: 45px;
  background-color: #f8f8f8;
  border: 1px solid #d1a42f;
  border-radius: 5px;
  font-size: 17px;
  display: block;
  margin-bottom: 5px;
}

h4 {
  margin: 0;
}

.bottom, .comment-meta{
  display: flex;
  font-size: 15px;
  color: #e3c882;
}

.timestamp {
  padding-right: 10px;
}

.comment {
  margin: 10px 0;
}

.comments{
  margin-top: 20px;
}

.comment-ts {
  padding-left: 15px;
}

.comment-meta > p {
  margin: 5px 0;
}

.page-content {
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 20px;
  padding: 10px 10px;
  clear: both;
}

.player-container {
  float: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  clear: both;
  width: 71%;
}

.player-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px;
  cursor: pointer;
  height: fit-content;
  display: none;
}

.show {
  display: block;
}

.player-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.player-info {
  padding: 2px 16px;
  overflow: hidden;
  display: none;
}

.player-card img {
  width:  300px;
  height: auto;
}

.active, .collapsible:hover {
  opacity: 0.8;
}

.filter-options {
  float: left;
  display: flex;
  padding: 0px 30px 10px 0px;
}

.filter-options > * {
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  color: -internal-light-dark(black, white);
  background: #d1a42f;
  cursor: pointer;
}

select[name=position] {
    margin-left: 20px;
}

.form-table > table {
  margin-left: 0;
}

aside {
  text-align: center;
  float: right;
  margin: 20px 20px 0px 20px;
}

aside a {
  text-decoration: none;
  color: #d1a42f;
}

aside a:hover {
  text-shadow: 3px 3px 3px #000000;
}

.main {
  float: left;
  width: 65%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

ol a {
  text-decoration: none;
  color: #d1a42f;
}

ol a:hover{
  text-shadow: 3px 3px 3px #000000;
}

ol p{
  margin: 5px 0;
}

li {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px 0;
  padding: 10px 0;
}

li > a{
  margin-left: 10px;
}

#league-table {
  float: left;
  clear: both;
}

table {
  font-family: 'PremierSans-Bold',Arial,'Helvetica Neue',Helvetica,sans-serif;
  text-align: center;
  border-spacing: 0px;
  margin: auto;
}

table td, table th {
  padding: 5px 5px;
}

tr:nth-child(even) {
  background-color: #211616;
  border-right: 1px solid #000000;
}

form .error {
  color: #ff0000;
}

article {
  height: 100px;
  position: relative;
  left: 0px;
  color: #d1a42f;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px 0px;
  border-bottom: 10px #f9a4a4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
}

article img{
  position: absolute;
  left: 0px;
}

article a{
  text-decoration: none;
}

article:hover{
  text-shadow: 3px 3px 3px #000000;
}

article h3{
  position: relative;
  top: -10px;
  left: 110px;
  color: #d1a42f;
  font-size: 15px;
  font-family: 'Tiro Gurmukhi', serif;
  width: 80%;
}

article p {
  position: relative;
  left: 111px;
  top: -10px;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

details {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

details > summary {
  list-style: none;
}

dt {
  float: left;
  clear: left;
  margin-right: 5px;
  font-weight: bold;
}

dt::after {
  content: ":";
}

/* For smaller media queries - wrap sidebar, center logo*/
@media screen and (max-width: 1050px) {
  .main {
    width: 100%;
  }
  
  aside {
    float: left;
    width: 100%;
    top: 750px;
    justify-content: center;
  }

  .navbar{
    clear: both;
  }

  #navbar-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  #text-box {
    width: 60%;
  }

  textarea{
    width: 100%;
  }

  #search-button {
    width: 20%;
  }

  .add-button {
    width: 30%;
  }

  .player-container {
    width: 100%;
  }

  iframe {
    width: 350px;
  }
}

html,
body,
#map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
